<div class="bigheader">Your Lists</div>
<br>

<table class="data_table">
<tr>
  <th>Name</th>
  <th>Words</th>
  <th>Action</th>
</tr>
<% @list_names.each do |key, value| %>
  <tr id="list_<%= key %>">
    <td style='text-align: left'><a href="/list/<%= key %>"><%= value %></a></td>
    <td><%= @list_counts[key] %></td>
    <td><a href="#" onclick="make_edit_list_row(<%= key %>, '<%= value %>')">Edit</a> | <a href="#" onclick="delete_list(<%= key %>)">Delete</a></td>
  </tr>
<% end %>
</table>
<br>
<form action='/new' method='post'>
<%= text_field_tag 'name', '', placeholder: 'Name', size: 20, maxlength: 255 %>
<input type="submit" value="New List">
</form>
