<% if @query_type == 'your' && @offset == 0 %>
  <div id="new_list_form">
    <div class="error_message"><%= flash[:notice] %></div>
    <%= form_tag browse_new_path %>
      <%= text_field_tag 'new_list_name', nil, placeholder: 'Name', size: 15, maxlength: 255 %> 
      <label><%= check_box_tag 'new_list_public', nil, true %> Public</label><br>
      <%= text_field_tag 'new_list_desc', nil, placeholder: 'Description', size: 75, maxlength: 255 %><br>
      <%= submit_tag 'New List' %>
    </form>
  </div>
  <br>
<% end %>

<% @lists.each do |list| %>
  <div id="list_<%= list.id %>" class="list_box">
    <div class="list_votes">
      <a id="upvote_<%= list.id %>" href="javascript:void(0)" onclick="process_list_vote(<%= list.id %>, 'up')" <%= "style=visibility:hidden" if (!@logged_in || list.vote == 1) %>>+</a>
      <br>
      <span id="points_<%= list.id %>"><%= list.points %></span>
      <br>
      <a id="downvote_<%= list.id %>" href="javascript:void(0)" onclick="process_list_vote(<%= list.id %>, 'down')" <%= "style=visibility:hidden" if (!@logged_in || list.vote == -1) %>>-</a>
    </div>
    <div class="list_info">
      <span class="list_title"><%= link_to list.name, list_path(list.id) %></span> 
      <% if @query_type == 'your' %>
	(<a href="javascript:void(0)" onclick="edit_list(<%= list.id %>)">Edit</a> | <%= link_to 'Delete', delete_list_path(list.id), confirm: 'Are you sure?' %>)
      <% end %>
      <% if @query_type == 'favorites' %>
        (<%= link_to 'Remove from Favorites', unfavorite_path(list.id), confirm: 'Are you sure?' %>)
      <% end %>
      <br>
      <span class="list_ln2"><%= link_to list.author, user_path(list.author) %> - <%= pluralize(list.count, 'word') %>
	<%= " - (" + list.first_words.join(', ') + (list.count > 3 ? ', ...' : '') + ')' if list.count > 0 %></span><br>
      <%= list.description %>
    </div>
  </div>
  <br>
<% end %>

<% if @count > 0 %>
<div id="load_more">
  Showing lists 1 to <%= @count %> of <%= @total %>. 
  <% if @count < @total %>
    <a href="javascript:void(0)" onclick="request_data ('<%= records_path %>', '<%= @query_type %>', '<%= @user %>')">More...</a>
  <% end %>
</div>
<% else %>
No results.
<% end %>
