<script>
  $(function() {
    var word_data = <%= raw @word_data.to_json %>;
    var show_actions = <%= @logged_uname == @list.author ? 'true' : 'false' %>;
    initialize_list_data(<%= @list.id %>, word_data, show_actions);
  });
</script>

<div id="list_div" class="list_box">
  <div class="list_votes">
    <a id="upvote_<%= @list.id %>" href="javascript:void(0)" onclick="process_list_vote(<%= @list.id %>, 'up')" <%= "style=visibility:hidden" if (!@logged_in || @list.vote == 1) %>>+</a>
    <br>
    <span id="points_<%= @list.id %>"><%= @list.points %></span>
    <br>
    <a id="downvote_<%= @list.id %>" href="javascript:void(0)" onclick="process_list_vote(<%= @list.id %>, 'down')" <%= "style=visibility:hidden" if (!@logged_in || @list.vote == -1) %>>-</a>
  </div>
  <div class="list_info">
    <span class="list_title"><%= @list.name %></span>
    <br>
    <span class="list_ln2"><%= link_to @list.author, user_path(@list.author) %> - <%= pluralize(@list.count, 'word') %></span>
    <br>
    <%= @list.description %>
  </div>

  <div id="buttons_row">
    <% if @logged_uname == @list.author %>
      <div id="not_a_word" class="error_message"><%= flash[:notice] || '' %></div>
      <form id="add_word_box" action="javascript:void(0)" method="post" onsubmit="add_word(<%= @list.id %>)">
	<%= text_field_tag 'word', '', placeholder: 'word', size: 20, maxlength: 255 %>
	<input type="button" value="Add Word" onclick="add_word(<%= @list.id %>)">
      </form>
    |
    <% end %>
    <%= link_to 'Normal Quiz', quiz_path(@list.id, 'normal') %>
    |
    <%= link_to 'Reverse Quiz', quiz_path(@list.id, 'reverse') %>
    <% if @logged_in %>
    |
    <a href="javascript:void(0)" onclick="favorite(<%= @list.id %>)">Add to Favorites</a>
    <% end %>
    |
    <%= link_to 'Export', export_path(@list.id, format: 'csv') %>
  </div>

  <div id="words">
    <table id="word_list" class="data_table">
    <thead>
    <tr>
      <th>Word</th>
      <th>Definition</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
    </table>    
  </div>

  <% if @logged_uname == @list.author %>
  <div id="add_words_box">
    <form>
      <%= text_area_tag 'mult_words', '', rows: 3, cols: 50 %><br>
      <input type="button" value="Add Words" onclick="add_word_multiple(<%= @list.id %>)">
    </form>
  </div>
  <div id="import_box">
    Import from file:
    <%= form_tag({action: :import}, multipart: true) do %>
      <%= file_field_tag 'file' %>
      <%= submit_tag 'Submit' %>
    <% end %>
  </div>
  <% end %>
</div>
