<script>
  $(function() {
    var word_data = <%= raw @word_data.to_json %>;
  }
</script>

<div class="bigheader"><%=  @list.name %></div>

<br>

<div id="add_word_box">
  <div>
    <form action='/list/<%= @list.id %>/new' method='post'>
      <%= text_field_tag 'word', '', placeholder: 'word', size: 20, maxlength: 255 %>
      <input type="submit" value="Add Word">
    </form>
  </div>
  <div id="not_a_word" class="error_message"><%= flash[:notice] || '' %></div>
</div>

<div id="start_quiz_box">
  <form action='/list/<%= @list.id %>/quiz' method='post'>
    <%= text_field_tag 'questions', '', placeholder: '#Ques.', size: 20, maxlength: 3 %>
    <input type="button" value="Normal Quiz"><input type="button" value="Reverse Quiz">
  </form>
</div>

<br><br>

<table id="word_list" class="data_table">
<tr>
  <th>Word</th>
  <th>Definition</th>
  <th>Action</th>
</tr>
<% @word_data.each do |id, val| %>
  <tr id="word_<%= id %>">
    <td><%= val[:word] %></a></td>
    <td>
      <% if val[:definitions].size == 0 %>
	<i>No definition specified.</i>
      <% else val[:definitions].each_with_index do |defi, i| %>
	<%= raw('<br>') if i > 0 %>
	<%= raw('<b>') + (i+1).to_s + raw('.</b> ') if val[:definitions].size > 1 %>
	<span title="<%= defi %>"><%= defi.truncate 100 %></span>
      <% end end %>
    </td>
    <td width="80"><a href="#" onclick="edit_word(<%= @list.id %>, <%= id %>)">Edit</a> | <a href="#" onclick="delete_word(<%= @list.id %>, <%= id %>)">Delete</a></td>
  </tr>
<% end %>
</table>

<br>

<div id="add_words_box">
  <form action='/list/<%= @list.id %>/new_multiple' method='post'>
    <%= text_area_tag 'words', '', rows: 3, cols: 50 %><br>
    <input type="submit" value="Add Words">
  </form>
</div>

