<!DOCTYPE html>
<html>
<head>
  <title>Vocab Buddy</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="page_column">

  <div id="title_bar">
    <div id="title">Vocab Buddy</div>
    <% if(@logged_in) %>
      <div id="account_box"><%= @logged_uname %> | <%= link_to 'Logout', logout_path %></div>
    <% else %>
      <div id="account_box">Guest | <%= link_to 'Login', login_path %></div>
    <% end %>
  </div>

  <ul id="nav_bar">
    <li><%= link_to "Browse", browse_path %>
    <% if (@logged_in) %>
      <li><%= link_to "Favorites", favorites_path %>
      <li><%= link_to "Your Lists", your_path %>
    <% end %>
    <li>
      <form onsubmit="submit_search(); return false;">
	<%= text_field_tag 'search_keyword', nil, placeholder: 'Search', size: 20, maxlength: 50 %>
      </form>
  </ul>

  <div id="content_area">
    <%= yield %>
  </div>

  </div>
</body>
</html>
